.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footer__paragraph{
    display: flex;
    align-items: center;
}

.footer__link{
    text-decoration: none;
    color: var(--main-color);
}